<p-dialog
  [(visible)]="visible"
  [header]="'choose_theme' | translate"
  [modal]="true"
  [dismissableMask]="true"
  appendTo="body"
  [style]="{ width: '90vw', maxWidth: '400px' }"
>
  <div class="swatch-grid">
    @for (opt of options; track opt.code) {
      <button
        type="button"
        class="swatch"
        [class.active]="opt.code === current()"
        (click)="select(opt.code)"
      >
        <span class="dot" [style.background]="opt.swatch"></span>
        <span class="label">{{ opt.label }}</span>
        @if (opt.code === current()) {
          <i class="pi pi-check"></i>
        }
      </button>
    }
  </div>
</p-dialog>
